@import 'pkg:@fluentui/react/dist/sass/References.scss';

.ups {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
}

.container {
  display: block;
  width: 100%;
}

.title {
  @include ms-font-xl;
  display: block;
  font-weight: 600;
}

.subTitle {
  @include ms-font-l;
  display: block;
  font-weight: 600;
  margin-top: 1em;
}
